@CHARSET "US-ASCII";

.header {
	padding: 5px 20px 0 20px;
	height: 40px;
	background-color: #e7dab7;
	font-size:18px;	
	font-family: Helvetica; font-weight: bold;
}

.formContainer {
	padding: 10px;
}

#map-canvas {
	height: 1000px; width: 100%;
}

#map-container {
	
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

