@CHARSET "US-ASCII";
#nav {
	line-height: 30px;
	height: 300px;
	width: 100px;
	float: right;
	padding-top: 25px;
}

#story {
	width: 500px;
	float: left;
	padding: 10px;
	margin-bottom: 40px;
}

#storyend {
	width: 350px;
	float: left;
	padding: 10px;
}
.header {
	padding: 5px 20px 0 20px;
	height: 50px;
	background-color: #e7dab7;
	font-size:18px;	
	font-family: Helvetica; font-weight: bold;
}

.formContainer {
	padding: 10px;
}

#map-canvas {
	height: 1000px; width: 100%;
}

#map-container {
	
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

#picContainer {
	width:215px;
	height:215px;
	margin-left:auto;
	margin-right:auto;
}

#searchForm {
	margin-right:30px;
	margin-top:-3px;
}

#searchButton {
	height: 34px;
}

